{% extends "layout.html" %}

{% block title %}WatchBots{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/common.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}

{% block body %}
{% raw %}
    <header class="flex-container">
        <span class="flex-item logo"><img height="50px" src="img/logo_white.png" /></span>
        <span class="flex-item title">WatchBots</span>
        <span class="flex-item search">
            <input type="search" placeholder="Search" ng-model="search" />
        </span>
    </header>

    <div ng-controller="RobotsOverview as overview">

        <div class="icon-button-container">
            <i class="icon-button el el-th" ng-class="{'selected': overview.view_mode === 'grid'}"
               ng-click="overview.changeViewModeToGrid()"></i>
            <i class="icon-button el el-list" ng-class="{'selected': overview.view_mode === 'list'}"
               ng-click="overview.changeViewModeToList()"></i>
        </div>

        <div class="flex-container" ng-if="overview.view_mode === 'grid'">
            <div class="flex-item-equal box" ng-repeat="robot in overview.robots_list | filter: search">
                <h1>{{robot.info.name}}
                    <img height="15px" ng-src="{{overview.getBattUrl(robot)}}" />
                    <img height="15px" ng-src="{{overview.getComUrl(robot)}}" /></h1>
                <div ng-repeat="category in overview.categories_list" ng-if="category.name != 'info'">
                    {{category.display_name}}
                    <ul>
                        <li ng-repeat="param in overview.params_list" ng-if="param.category === category.name">
                            {{param.display_name}} : {{robot[category.name][param.name]}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <table class="list" ng-if="overview.view_mode === 'list'">
            <tr class="">
                <th ng-repeat="param in overview.params_list"
                    ng-click="overview.setOrderBy(param)"
                    ng-class="{selected: overview.order_by === (param.category + '.' + param.name)
                    || (overview.order_by === '-' + param.category + '.' + param.name)}">
                    {{param.display_name}}
                    <i class="el el-chevron-up" ng-if="overview.order_by === (param.category + '.' + param.name)"></i>
                    <i class="el el-chevron-down" ng-if="overview.order_by === ('-' + param.category + '.' + param.name)"></i>
                </th>
            </tr>
            <tr class="" ng-repeat="robot in overview.robots_list | filter: search | orderBy: overview.order_by">
                <td ng-repeat="param in overview.params_list">
                    {{robot[param.category][param.name]}} {{param.unit}}
                    <img ng-if="param.name === 'name'" height="15px" ng-src="{{overview.getBattUrl(robot)}}" />
                    <img ng-if="param.name === 'name'" height="15px" ng-src="{{overview.getComUrl(robot)}}" />
                </td>
            </tr>
        </table>
    </div>

{% endraw %}
{% endblock %}